 algo: 'ppo'

 use_gail: True
 gail_experts_dir: '/home/kit/anthropomatik/kn6273/Repos/gail_experts/'
 gail_batch_size: 128
 gail_epoch: 5
 lr_disc: 1.0e-5
 num_trajectories: 4
 gradient_penalty: False
 spectral_norm: False
 airl_reward: False

 eps: 1.0e-5
 gamma: 0.99
 gae_lambda: 0.95
 entropy_coef: 0
 value_loss_coef: 1.0
 max_grad_norm: 0.5

 seed: 0
 cuda_deterministic: False
 num_processes: 1
 num_steps: 2048
 cuda: False

 policy_epoch: 10

 mini_batch_size: 100
 clip_param: 0.2

 logging: True
 summary: True
 track_vf: True
 save_model: False
 log_interval: 2048
 eval_interval: 4096

 num_env_steps: 1.0e+6
 env_name: 'HalfCheetah-v2'
 logging_dir: './logs_gail_tr_ppo/'
 log_dir: '/tmp/gym/'

 norm_obs: False
 norm_reward: False
 clip_obs: 1.0e+6
 clip_reward: 1.0e+6
 lr_policy: 1.0e-3

 start_steps: 10000
 max_ep_len: 1000
 update_after: 1000
 update_every: 50
 polyak: 0.995
 steps_per_epoch: 1000
 epochs: 100
 replay_size: 1.0e+6
 num_test_episodes: 10

