 algo: 'trpo'

 use_gail: True
 gail_experts_dir: 'gail_experts/'
 gail_batch_size: 128
 gail_epoch: 5
 lr_disc: 0.0003
 num_trajectories: 4
 gradient_penalty: False
 spectral_norm: False
 airl_reward: False

 eps: 1.0e-5
 gamma: 0.995
 gae_lambda: 0.97
 entropy_coef: 0
 value_loss_coef: 0.5
 max_grad_norm: 0.5

 seed: 0
 cuda_deterministic: False
 num_processes: 1
 num_steps: 50000

 policy_epoch: 10
 vf_epoch: 10

 mini_batch_size: 64
 clip_param: 0.2

 logging: True
 summary: True
 track_vf: True
 track_grad_kurtosis: True
 save_model: True
 log_interval: 2
 eval_interval: 4

 num_env_steps: 25.0e+6
 env_name: 'HalfCheetah-v2'
 logging_dir: 'log/'
 log_dir: '/tmp/gym'
 no_cuda: True
 use_proper_time_limits: True

 gradient_clipping: False
 use_linear_lr_decay: False
 use_clipped_value_loss: False
 norm_obs: True
 norm_reward: False
 clip_obs: 1.0e+6
 clip_reward: 1.0e+6
 lr_policy: 3.0e-4
 lr_value: 3.0e-4

 clip_importance_ratio: False
 use_projection: False
 proj_type: 'None'
 mean_bound: 0.0
 cov_bound: 0.0
 trust_region_coeff: 0.0
 entropy_schedule: 'None'
 scale_prec: True
 entropy_eq: False
 entropy_first: True
 target_entropy: 0

 use_gae: True
 use_td: False

 #https://github.com/openai/baselines/blob/master/baselines/gail/run_mujoco.py
 max_kl: 0.01
 cg_damping: 0.1
 cg_max_iters: 10

 line_search_coef: 0.5 #0.9
 line_search_max_iter: 10
 line_search_accept_ratio: 0.1