 algo: 'ppo'

 use_gail: False
 gail_experts_dir: './gail_experts'
 gail_batch_size: 128
 gail_epoch: 5
 lr_disc: 1.0e-3
 gradient_penalty: False

 eps: 1.0e-5
 gamma: 0.99
 use_gae: True
 gae_lambda: 0.95
 entropy_coef: 0
 value_loss_coef: 0.5
 max_grad_norm: 0.5

 seed: 22
 cuda_deterministic: False
 num_processes: 1
 num_steps: 2048

 policy_epoch: 10
 vf_epoch: 10
 num_mini_batch: 64
 clip_param: 0.2
 clip_importance_ratio: True

 logging: True
 summary: True
 log_interval: 1
 save_interval: 100
 eval_interval: 5
 
 num_env_steps: 3.0e+6
 env_name: 'Walker2d-v2'
 logging_dir: '/home/temp_store/'
 log_dir: '/tmp/gym/'
 no_cuda: True
 use_proper_time_limits: True

 gradient_clipping: True
 use_linear_lr_decay: True
 use_clipped_value_loss: True
 norm_obs: True
 norm_reward: True
 clip_obs: 10.0
 clip_reward: 10.0

 use_projection: False
 lr_policy: 3.0e-4
 lr_value: 2.5e-4
 proj_type: 'kl'
 mean_bound: 0.03
 cov_bound: 0.005
 trust_region_coeff: 8.0