 algo: 'ppo'

 use_gail: False
 gail_experts_dir: './gail_experts'
 gail_batch_size: 128
 gail_epoch: 5
 lr_disc: 1.0e-3
 gradient_penalty: False

 eps: 1.0e-5
 alpha: 0.99
 gamma: 0.99
 use_gae: True
 gae_lambda: 0.95
 entropy_coef: 0
 value_loss_coef: 1.0
 max_grad_norm: 0.5

 seed: 1
 cuda_deterministic: False
 num_processes: 1
 num_steps: 2048

 policy_epoch: 20
 vf_epoch: 10

 num_mini_batch: 32
 clip_param: 0.2
 clip_importance_ratio: False

 logging: False
 summary: False
 log_interval: 1
 save_interval: 100
 eval_interval: 5
 
 num_env_steps: 1.5e+6
 env_name: 'HalfCheetah-v2'
 logging_dir: '/home/temp_store/'
 log_dir: '/home/i53/student/ahmed_agha/Documents/gym'
 save_dir: './trained_models/'
 no_cuda: True
 use_proper_time_limits: True

 gradient_clipping: False
 use_linear_lr_decay: False
 use_clipped_value_loss: False
 norm_obs: True
 norm_reward: False
 clip_obs: 1.0e+6
 clip_reward: 1.0e+6

 use_projection: True
 lr_policy: 5.0e-5
 lr_value: 4.5e-4
 proj_type: 'kl'
 mean_bound: 0.03
 cov_bound: 0.001
 trust_region_coeff: 8.0